@model ApiManager.Models.Bandeja

@section css{
    <link rel="stylesheet" href="~/plugins/DataTables/media/css/dataTables.bootstrap.min.css" />
	<link rel="stylesheet" href="~/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" />
}

@*@using (Html.BeginForm("BuscarApi", "ApiManager", FormMethod.Post))
{
  @Html.AntiForgeryToken()

  <div class="row">
		<div class="col-md-6 py-3 m-auto">
			<div class="option1 form-group form-inline">
				<label class="mx-3">Nombre Microservicio</label>
				<div class="input-group">
					<input type="text" id="nombreMicroservicio" name="nombreMicroservicio" class="form-control" placeholder="Ingrese Nombre" required>
					<div class="input-group-append">
						<button type="submit" class="btn btn-success" onclick="validaBusqueda()">
							<i class="fa fa-search"></i> Buscar
						</button>
					</div>
					<div class="input-group-append">
						<button type="button" class="btn btn-success" onclick="limpiar()">
							<i class="fa fa-broom"></i> Limpiar
						</button>
					</div>
				</div>
			</div>
		</div>
   </div>
}*@


	<div class="row">
		<div class="col-md-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Listado de microservicios</h4>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body" style="overflow: auto">
					<div class="table-responsive" id="DivBandeja">
					<table id="gridViewTasks" class="table table-bordered w-100">
						<thead>
							<tr>
								<th class="text-nowrap">Nombre - link a detalle</th>
								<th class="text-nowrap">Descripción</th>
								<th class="text-nowrap">Fecha Creación</th>
								<th class="text-nowrap">Url Bitbucket</th>
								<th class="text-nowrap">Url Swagger</th>
								
								<!-- campos ocultos para filtrar -->
								<th class="text-nowrap d-none">Base de datos</th>
								<th class="text-nowrap d-none">Esquema</th>
								<th class="text-nowrap d-none">Package</th>
								<th class="text-nowrap d-none">Funcion</th>
								<th class="text-nowrap d-none">TipoVerbo</th>
								<th class="text-nowrap d-none">NombreDesarrollador</th>
								<th class="text-nowrap d-none">NombreJefeProyecto</th>
								<th class="text-nowrap d-none">EmailJefeProyecto</th>
								<th class="text-nowrap d-none">EmailDesarrollador</th>
							</tr>
						</thead>
						<tbody>
							@if (Model.respuestaGetApi != null)
							{
								@foreach (var item in Model.respuestaGetApi)
								{
									<tr>
										<td>
											<a href="javascript:detalleApi('@item.Nombre','@item.Descripcion','@item.UrlRespositorio')">
												@item.Nombre
                                            </a>
										</td>
										<td>@item.Descripcion</td>
										<td>@item.FechaCreacion</td>
										<td>
											<a href="@item.UrlRespositorio" target="_blank">
												<img src="@Url.Content("~/img/bitbucket.png")" style="width:30px;height:30px;">
                                            </a>
										</td>
										<td>
											<a href="@item.UrlSwagger" target="_blank">
												<img src="@Url.Content("~/img/swagger.png")" style="width:30px;height:30px;">
                                            </a>
										</td>

										<!-- campos ocultos para filtrar -->
										<td class="d-none" >@item.Detalle.BaseDeDatos</td>
										<td class="d-none" >@item.Detalle.Esquema</td>
										<td class="d-none" >@item.Detalle.Package</td>
										<td class="d-none" >@item.Detalle.Funcion</td>
										<td class="d-none" >@item.Detalle.TipoVerbo</td>
										<td class="d-none" >@item.Detalle.NombreDesarrollador</td>
										<td class="d-none" >@item.Detalle.NombreJefeProyecto</td>
										<td class="d-none" >@item.Detalle.EmailJefeProyecto</td>
										<td class="d-none" >@item.Detalle.EmailDesarrollador</td>
									</tr>
								}
							}
						</tbody>
					</table>
					</div>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
	</div>

	<!--Modal Detalle Api-->
    <div class="modal fade" id="modal_detalleApi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><span id="tituloModalGenerico"></span></h5>
				</div>
				<div class="modal-body">
                
					<div class="panel-body">
						<div class="row justify-content-center">
							<div class="col-md-12">
								<label class="control-label f-w-700 mb-0">URL Bitbucket:</label>	
								<p>
									<span id="urlBitbucket"></span>
								</p>
							</div>
							<div class="col-md-12">
								<label class="control-label f-w-700 mb-0">Descripcion:</label>
								<p>
									<span id="descripcion"></span>
								</p>
							</div>		
							<div class="col-md-2">
								<label class="control-label f-w-700 mb-0">Base de Datos:</label>
								<p>
									<span id="baseDatos"></span>
								</p>
							</div>
							<div class="col-md-2">
								<label class="control-label f-w-700 mb-0">Esquema:</label>
								<p>
									<span id="esquema"></span>
								</p>
							</div>
							<div class="col-md-4">
								<label class="control-label f-w-700 mb-0">Package:</label>
								<p>
									<span id="package"></span>
								</p>
							</div>
							<div class="col-md-4">
								<label class="control-label f-w-700 mb-0">Función:</label>
								<p>	
									<span id="funcion"></span>
								</p>
							</div>

							<div class="col-md-3">
								<label class="control-label f-w-700 mb-0">Tipo verbo:</label>
								<p>
									<span id="tipo"></span>
								</p>
							</div>
							<div class="col-md-3">
								<label class="control-label f-w-700 mb-0">Tiene token?:</label>
								<p>
									No
								</p>
							</div>
							<div class="col-md-3">
								<label class="control-label f-w-700 mb-0">Caché activado:</label>
								<p>
									No
								</p>
							</div>
							<div class="col-md-3">
								<label class="control-label f-w-700 mb-0">Fecha Modificacion:</label>
								<p>
									<span id="fechaModificacion"></span>
								</p>
							</div>

							<div class="col-md-3">
								<label class="control-label f-w-700 mb-0">Nombre Desarrollador:</label>
								<p>
									<span id="nombreDesarrollador"></span>
								</p>
							</div>
							<div class="col-md-3">
								<label class="control-label f-w-700 mb-0">Emaíl Desarrollador:</label>
								<p>
									<span id="emailDesarrollador"></span>
								</p>
							</div>
							<div class="col-md-3">
								<label class="control-label f-w-700 mb-0">Nombre Jefe Proyecto:</label>
								<p>
									<span id="nombreJefeProyecto"></span>
								</p>
							</div>
							<div class="col-md-3">
								<label class="control-label f-w-700 mb-0">Emaíl Jefe Proyecto:</label>
								<p>
									<span id="emailJefeProyecto"></span>
								</p>
							</div>
							

							<div class="col-md-12 mt-3 d-flex flex-row justify-content-center flex-wrap">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<div class="btnUtilidades">
						<button type="button" id="btn-Cancelar" class="btn btn-hdi-primary mx-1">Testear método</button>
						<button type="button" id="btn-Cancelar" class="btn btn-hdi-primary mx-1">Ver Swagger</button>
						<button type="button" id="btn-Cancelar" class="btn btn-hdi-primary mx-1">Parámetros entrada</button>
						<button type="button" id="btn-Cancelar" class="btn btn-hdi-primary mx-1">Retorno</button>
						<button type="button" id="btn-Cancelar" class="btn btn-hdi-primary mx-1">Ocelot.json</button>
					</div>

					<div class="btnCerrar">
						<button type="button" id="btn-Cancelar" class="btn btn-hdi-outline-tertiary" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>


@section js {
	 <script src="~/plugins/DataTables/media/js/jquery.dataTables.js"></script>
	 <script src="~/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
	 <script src="~/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
	 <script src="~/js/demo/table-manage-default.demo.min.js"></script>

<script>


	function validaBusqueda() {
		 
	}

    function limpiar() {
		$("#gridViewTasks > tbody").empty();
		$('input[type="text"]').val('');	 
	}

	function detalleApi(nombre, descr , urlBitbucket) {
		loading(1);
        var UrlDetalleApi = '@Url.Action("IrDetalleApi", "ApiManager")';
		$.ajax({
			type: "POST",
			url: UrlDetalleApi + "/?nombre="+ nombre,
			success: function (r) {
				loading(0);

                console.log(r);

				$('#tituloModalGenerico').html("Detalle Api " + nombre);

				$('#urlBitbucket').html(urlBitbucket);
				$('#descripcion').html(descr);

				$('#baseDatos').html(r.respuestaDetalleGetApi.baseDeDatos);
				$('#esquema').html(r.respuestaDetalleGetApi.esquema);
				$('#package').html(r.respuestaDetalleGetApi.package);
				$('#funcion').html(r.respuestaDetalleGetApi.funcion);

				$('#tipo').html(r.respuestaDetalleGetApi.tipoVerbo);
				$('#fechaModificacion').html(r.respuestaDetalleGetApi.fechaModificacion);



				$('#nombreDesarrollador').html(r.respuestaDetalleGetApi.nombreDesarrollador);
				$('#nombreJefeProyecto').html(r.respuestaDetalleGetApi.nombreJefeProyecto);
				$('#emailJefeProyecto').html(r.respuestaDetalleGetApi.emailJefeProyecto);
				$('#emailDesarrollador').html(r.respuestaDetalleGetApi.emailDesarrollador);



				
								
				$('#modal_detalleApi').modal('show');
			}
		});
	}
</script>
}